@tailwind base;
@tailwind components;
@tailwind utilities;
 
@font-face {
  font-family: 'Chillax';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Chillax-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Chillax';
  font-style: bold;
  font-weight: 700;
  src: local(''), url('/fonts/Chillax-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Chillax';
  font-style: 'semibold';
  font-weight: 600;
  src: local(''), url('/fonts/Chillax-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Chillax';
  font-style: 'medium';
  font-weight: 500;
  src: local(''), url('/fonts/Chillax-Medium.woff') format('woff');
}
